/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

html {
    height: 100%;
}

body {
    background-color: rgb(236, 236, 236);
    padding: 0;
    margin: 0;
    height: 100%;
    min-height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

#game-canvas {
    position: relative;
    width: auto;
}

#sticky-footer {
    margin-top: auto;
    height: 80px;
    background: rgb(52, 58, 64);
    border-top: 4px solid rgb(204, 51, 51);
}

.menu-btn {
    width: 100px;
}

.score-info {
    -webkit-animation: pulse .25s;
    animation: pulse .25s;
}

@-webkit-keyframes pulse {
    from { -webkit-transform: none; transform: none; }
    50% { -webkit-transform: scale(1.3); transform: scale(1.3); }
    to { -webkit-transform: none; transform: none; }
}

@keyframes pulse {
    from { -webkit-transform: none; transform: none; }
    50% { -webkit-transform: scale(1.3); transform: scale(1.3); }
    to { -webkit-transform: none; transform: none; }
}

/* ---| Modal */
body.modal-visible {
    overflow: hidden;
}

.modal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    visibility: hidden;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    padding: 16px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 99;

    background-color: rgba(0, 0, 0, 0.1);
}
body.modal-visible .modal {
    visibility: visible;
}

.modal-content {
    margin: auto;
    padding: 16px;
    width: 800px;
    max-width: 800px;
    min-height: 500px;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);

    -webkit-transition: -webkit-transform 1s ease;

    transition: -webkit-transform 1s ease;

    -o-transition: transform 1s ease;

    transition: transform 1s ease;

    transition: transform 1s ease, -webkit-transform 1s ease;
    border-radius: 5px;
    background: white;
}
body.modal-visible .modal-content {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

/* ---| Responsive */
@media screen and (max-width: 726px) {
    p {
        font-size: 0.7rem !important;
    }

    h3{
        font-size: 1.2rem !important;
    }
}
